body{
    background-color: rgb(24, 24, 53);
    text-align: center;
    margin: 0;
    color: rgb(219, 183, 53);
}

.inside{
   display:flex;
   gap: 50px;
   flex-wrap: wrap;
   padding: 20px;
   justify-content: center;

}
.inside img{
   width: 400px;
   border-radius: 30px;
   cursor: pointer;
   

}
.inside img:hover{
    transform: scale(1.1);
    transition: 2s;
    box-shadow:  1px 1px 20px white;
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0,0,0.5);
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.lightbox-img{
    width: 50%;
    max-width: 700px;
}
.previous, .next{
    position: absolute;
    cursor: pointer;
    top: 50%;
   
    font-size: 40px;
    border: none;
    background: none;
    color: aliceblue;

}
.previous{
    left: 20%;
}
.next{
    right: 20%;
}
.close{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 40px;
    cursor: pointer;
}
